@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    background-color: #21232A;
    color: white;
    font-family: Helvetica,Arial, sans-serif;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  